<div class="container">    
    <h4>D3.js is a javascript library for data visualizations.</h4>
    <p><strong>Data Visualization is the pictorial representation of the data!</strong></p>    
    <p>The most common visualizations are : </p>
    <ul>
        <li>Bar Chart</li>
        <li>Pie Chart</li>
        <li>Line Chart</li>
        <li>Scatter Plot</li>
    </ul>
    <p><strong>Note: Go through the link for D3 gallery - <a style="color: purple" href="https://github.com/d3/d3/wiki/Gallery">D3 Gallery</a></strong></p>
    <div class = "barChart">
        <a href="https://bost.ocks.org/mike/bar/">
            <img class = "imghover" src="https://user-images.githubusercontent.com/5375409/43981828-5b0ff10e-9ceb-11e8-825b-814370ad5b59.png" alt="Bar Chart" style = "width: 300px; height: 250px; border: 5px; border-radius: 25px; float: left" >
        </a>        
    </div>
    <div class ="pieChart">
        <a href="https://www.tutorialsteacher.com/d3js/create-pie-chart-using-d3js">
            <img class = "imghover" src="https://assets.highcharts.com/images/demo-thumbnails/highcharts/pie-drilldown-dark-unica.png" alt="Pie Chart" style = "width: 300px; height: 250px; border: 5px; border-radius: 25px; margin-left: 30px">
        </a>        
    </div>
    <div class ="lineChart">
        <a href="https://www.freecodecamp.org/news/learn-to-create-a-line-chart-using-d3-js-4f43f1ee716b/">
            <img class = "imghover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqfw9zXTEKq_5RROe6UAiYMa1dyaQ39zqx0Lm-o5L3JW7uVe0D" alt="Line Chart" style = "width: 300px; height: 250px; border: 5px; border-radius: 25px; margin-top: 20px; float: left">
        </a>        
    </div>
    <div class ="scatterPlot">
        <a href="https://swizec.com/blog/quick-scatterplot-tutorial-for-d3-js/swizec/5337">
            <img class = "imghover" src="https://1.bp.blogspot.com/-1WZOWRVuJpM/V-p9D09lohI/AAAAAAAAHAc/Txs-BhOczBgQrR2f9y0xCbkN34sFfPdsgCK4B/s640/scatter_plot_dark.jpg" alt="Scatter Plot" style = "width: 300px; height: 250px; border: 5px; border-radius: 25px; margin-left: 30px; margin-top: 20px">
        </a>        
    </div>
</div>
